@import "../../index.css";

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5vw;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

@layer components {
  .btn {
    @apply p-1 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    max-height: 40px;
    max-width: 40px;
  }
  .btn img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
}
